@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//font-family: "Matemasie", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Matemasie&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "Edu VIC WA NT Beginner", cursive;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Matemasie&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "Dancing Script", cursive;
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
// font-family: "Moderustic", sans-serif;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  height: 100%;
  font-family: 'Moderustic', sans-serif;
  color: rgb(172, 181, 255);
  scroll-padding-top: 112px;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
.fullscreen__title {
  font-size: 70px;
  margin: 0 0 50px 0;
  text-shadow: 0px 0px 5px rgb(0, 116, 184);
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.5s ease 0.1s;
}
.fullscreen__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.fullscreen__text {
  font-size: 30px;
  line-height: 35px;
  max-width: 50%;
  text-shadow: 0px 0px 5px rgb(0, 116, 184);
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.fullscreen__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 4s ease 0.2s;
}
.fullscreen__image {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}
.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 10px;
}
.text {
  padding: 20px;
}
.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 35px;
}
.text__title {
  font-size: 60px;
  margin: 0 0 50px 0;
  text-align: center;
}
.text__item {
  font-size: 20px;
}
.text__item p {
  text-indent: 20px;
}
.navigation {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
  z-index: 100;
}
.visible-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.menu__list {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  transition: all 0.5s ease 0s;
  transform-style: preserve-3d;
  border: 1px solid rgb(0, 0, 0);
  background-color: gray;
}
.menu__list a {
  color: rgb(0, 3, 153);
}
.menu__list::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.8);
  transform: translate3d(0, 8px, -10px);
  transition: all 0.5s ease 0s;
}
.menu__list:hover {
  border: 1px solid rgb(255, 255, 255);
}
.menu__list:active {
  transform: translate(0em, 8px);
}
.menu__list:active::before {
  transform: translate3d(0, 0, -10px);
}
.moments {
  padding: 20px;
}
.moments__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 35px;
  padding: 20px 0 0 0;
}
.list__title {
  font-size: 50px;
  margin: 0 0 50px 0;
  text-align: center;
}
.swiper__title {
  font-size: 40px;
  margin: 0 0 50px 0;
  text-align: center;
}
.form__title {
  font-size: 30px;
  margin: 0 0 50px 0;
  text-align: center;
}
.moments__items {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 450px;
  gap: 20px;
  margin: 0 0 10px 0;
  padding: 20px;
}
.moments__item {
  text-align: center;
  padding: 10px;
  transition: all 0.9s ease 0s;
  transform: translate(-120%, 0);
  position: relative;
  perspective: 700px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
  min-height: 400px;
  min-width: 300px;
}
.back-icon {
  transform: rotateY(180deg);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.front-icon {
  display: flex;
  flex-direction: column;
}
.back-icon,
.front-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
  padding: 10px;
  align-items: center;
}
.moments__item:hover .front-icon {
  transform: rotateY(180deg);
}
.moments__item:hover .back-icon {
  transform: rotateY(360deg);
}
.moments__image {
  border-radius: 20px;
  overflow: hidden;
  width: 150px;
  min-height: 150px;
  box-shadow: 0px 0px 5px rgb(0, 116, 184);
}
.moments__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.moments__text {
  margin: 10px 0px 0px 0px;
}
.fullscreen__image img {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
}
._anim-show {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.9s ease 0s;
}
._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0, 0);
}
.moments__items._active .moments__item {
  transform: translate(0, 0);
}
.information {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 35px;
  margin: 30px 0;
}
.swiper {
  width: 90vw;
  height: fit-content;
  margin: 0px 0 50px 0;
}
.swiper-wrapper {
  padding: 20px;
}
.image-slider__image {
  width: 300px;
  height: 200px;
  perspective: 400px;
}
.image-slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transform: scale(1);
  transition: all 3s ease 0s;
}
.image-slider__image img:hover {
  box-shadow: 0px 0px 5px rgb(0, 184, 61);
  transform: scale(1.2);
}
.information__container {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  text-align: center;
}
.info-icon {
  padding: 0 20px;
  font-size: 20px;
}
.form {
  padding: 10px;
  margin: 10px 0px 20px 0px;
}
.form__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__icons {
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.form__icon_name input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(0, 184, 61);
}
.form__icon_name,
.form__icon_textarea,
legend {
  padding: 10px;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}
.form__icon_name input {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
}
.form__icon_textarea textarea {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 500px;
  height: 150px;
  resize: none;
}
.form__icon_rating {
  margin: 0px 0px 30px 0;
}
.form__icon_rating label {
  cursor: pointer;
}
.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.custom-radio {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 20%;
  vertical-align: text-top;
  position: relative;
  margin: 0px 5px 0px 5px;
  background-color: rgb(73, 73, 73);
  border: 1px solid white;
}
.custom-radio::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/src/icons/starIcon.png');
  background-position: center;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: none;
  box-shadow: 0px 0px 5px yellow;
}
.real-radio:checked + .custom-radio::before {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}
.form__icon_checkbox {
  margin: 0 0 10px 0;
}
.form__icon_checkbox label {
  cursor: pointer;
}
.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.custom-checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 20%;
  vertical-align: text-top;
  position: relative;
  margin: 0px 5px 0px 5px;
  background-color: rgb(73, 73, 73);
  border: 1px solid white;
  margin: 0px 15px 10px 0px;
}
.custom-checkbox::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/src/icons/heartIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: none;
  box-shadow: 0px 0px 5px rgb(255, 0, 191);
}
.real-checkbox:checked + .custom-checkbox::before {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}
.form__icon_checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form__icon_checkbox legend {
  margin: 0 0 30px 0;
}
.btnSend {
  border: 1px solid rgb(0, 0, 0);
  background-color: gray;
  color: rgb(0, 3, 153);
  padding: 10px;
  font-size: 20px;
  margin: 20px 0;
  box-shadow: 0 0 5px white;
  transform: translateY(0px);
  transition: all 0.5s ease 0s;
  position: relative;
}
.btnSend:hover {
  border: 1px solid white;
}
.btnSend:active {
  transform: translateY(4px);
}

.cursor {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  animation: moveCursor 4s infinite alternate;
  transition: width 0.3s height 0.3s;
  z-index: -10;
}

@keyframes moveCursor {
  0% {
    box-shadow: 0 0 10px 5px rgb(255, 238, 0);
  }
  50% {
    box-shadow: 0 0 15px 7px rgb(255, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 10px rgb(0, 174, 255);
  }
}

@media (min-width: 767px) {
  .fullscreen__content {
    z-index: 2;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20vh;
  }
}
@media (max-width: 1200px) {
  .fullscreen__content {
    min-height: 100vh;
  }
}
@media (max-width: 992px) {
  .moments__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fullscreen__content {
    min-height: 100vh;
  }
  .burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-self: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }
  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: white;
  }
  .navigation {
    display: none;
  }
}
@media (max-width: 768px) {
  .fullscreen__content {
    padding: 20px;
    min-height: 100vh;
    margin: 0 160px 0px 0;
  }
  .moments__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    grid-column-gap: 18px;
    justify-content: center;
    padding: 10px;
  }
  .moments__item {
    margin: 0;
  }
  h2,
  h3 {
    line-height: 50px;
    margin: 0 0 50px 0;
  }
  #headerTwo {
    scroll-margin-top: 125px;
    scroll-behavior: smooth;
  }
  .visible-list {
    display: flex;
    flex-direction: column;
  }
  .menu__list {
    margin: 5px;
  }
  .form__icon_textarea textarea {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .fullscreen__content {
    padding: 20px;
    min-height: 100vh;
  }
  h2,
  h3 {
    line-height: 50px;
  }
  .information__container {
    padding: 20px;
  }
  .info-icon {
    font-size: 14px;
    padding: 20px;
  }
}
